Source: rsnapshot-scripts
Section: misc
Priority: extra
Maintainer: Chris Smith <chris@cs278.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: rsnapshot-scripts
Architecture: all
Depends: coreutils
Recommends: rsnapshot, findutils, debianutils, util-linux, bash | dash
Suggests: subversion, dnsutils, mysql-client, dpkg, rsync, grep, sed, gzip, awk, debconf-utils
Enhances: rsnapshot
Description: rsnapshot backup scripts
 A collection of bash scripts I have written for use
 with rsnapshot to aide backups of various 'difficult'
 sources of data. Currently supports:
  * Subversion
  * DNS
  * DPKG Selections
  * Debconf Database
  * MySQL
  * Master Boot Records
  * Trac <http://trac.edgewall.org/>
